body,p,ul,h1,h2,h3,h4,h5,h6,form,input,li,ol,a{
margin:0;padding:0;list-style:none;font-weight:normal;
text-decoration: none;
}
*{font-family:"Helvetica Neue";
font-size:10px;
color: #666666;
}
img{border:none;}